{{- $workGit := (index . "workGit") | default dict -}}
{{- $workName := (index $workGit "name") | default "" -}}
{{- $workEmail := (index $workGit "email") | default "" -}}
{{- if and $workName $workEmail -}}
[user]
	name = {{ $workName }}
	email = {{ $workEmail }}
{{- end }}
{{ if ne .chezmoi.os "windows" }}
[credential]
	helper = manager
	helper =
	helper = /usr/local/bin/git-credential-manager
	azreposCredentialType = oauth
[credential "https://dev.azure.com"]
	useHttpPath = true
{{ end }}
