[user]
	name = r-camara
	email = 1766356+r-camara@users.noreply.github.com
[push]
	autoSetupRemote = true
[url "https://github.com/"]
	insteadOf = git@github.com:
[credential]
	helper = cache
[core]
	editor = code --wait
[includeIf "gitdir:~/Repos/work/"]
	path = ~/.gitconfig-work
