[Desktop Entry]
Version=1.0
Type=Application
Name=ChatGPT
Comment=ChatGPT no perfil pessoal do Chrome
Terminal=false
Exec={{ .chezmoi.homeDir }}/.local/bin/chrome-profile personal --app=https://chatgpt.com/
Icon={{ .chezmoi.homeDir }}/.local/share/icons/hicolor/256x256/apps/google-chatgpt-personal.png
StartupWMClass=crx_cadlkienfkclaiaibeoongdcgmdikeeg
Categories=Network;Chat;
StartupNotify=true
