[Desktop Entry]
Version=1.0
Type=Application
Name=Azure DevOps (Work)
Comment=Azure DevOps no perfil Work do Brave
Terminal=false
Exec=/usr/bin/brave --user-data-dir={{ .chezmoi.homeDir }}/.config/BraveSoftware/Brave-Browser-Work --profile-directory=Default --class=azure-devops-work --app=https://dev.azure.com/
Icon=applications-development
StartupWMClass=azure-devops-work
Categories=Development;X-Trabalho;
StartupNotify=true
