[Desktop Entry]
Version=1.0
Type=Application
Name=Apps (Trabalho)
Comment=Aplicativos do perfil Work do Chrome
Terminal=false
Exec={{ .chezmoi.homeDir }}/.local/bin/chrome-profile work --app=chrome://apps
Icon={{ .chezmoi.homeDir }}/.local/share/icons/hicolor/256x256/apps/google-chrome-work.png
StartupWMClass=brave-work-browser
Categories=Network;X-Trabalho;
