[Desktop Entry]
Version=1.0
Type=Application
Name=ChatGPT
Comment=ChatGPT PWA no perfil pessoal do Brave
Terminal=false
Exec=/usr/bin/brave --profile-directory=Default --app-id=cadlkienfkclaiaibeoongdcgmdikeeg
Icon={{ .chezmoi.homeDir }}/.config/BraveSoftware/Brave-Browser/Default/Web Applications/Manifest Resources/cadlkienfkclaiaibeoongdcgmdikeeg/Icons/256.png
StartupWMClass=crx_cadlkienfkclaiaibeoongdcgmdikeeg
Categories=Network;Chat;
StartupNotify=true
