[Desktop Entry]
Version=1.0
Type=Application
Name=Apps (Pessoal)
Comment=Aplicativos do perfil pessoal do Chrome
Terminal=false
Exec={{ .chezmoi.homeDir }}/.local/bin/chrome-profile personal --app=chrome://apps
Icon=google-chrome
StartupWMClass=brave-browser
Categories=Network;
