[Desktop Entry]
Version=1.0
Type=Application
Name=Apps (Pessoal)
Comment=Todas as PWAs instaladas no perfil pessoal do Brave
Terminal=false
Exec=/usr/bin/brave --profile-directory=Default --class=brave-apps-personal --app=brave://apps
Icon=brave-desktop
StartupWMClass=brave-apps-personal
Categories=Network;
