[Desktop Entry]
Type=Application
Name=Screenshot Region
Name[pt_BR]=Capturar região da tela
Comment=Copy the image normally and its path to the primary selection
Comment[pt_BR]=Copia a imagem normalmente e o caminho na seleção primária
Exec={{ .chezmoi.homeDir }}/.local/bin/screenshot-region-multiformat
Icon=spectacle
NoDisplay=true
X-KDE-Shortcuts=Meta+Shift+S
